default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: waldo-backend_development

test:
  <<: *default
  database: waldo-backend_test

production:
  <<: *default
  database: waldo-backend_production
  username: waldo-backend
  password: <%= ENV['WALDO-BACKEND_DATABASE_PASSWORD'] %>